*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}


body{
    background-color: white;
    font-family: sans-serif;
}

body::-webkit-scrollbar {display: none;}

.header{
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
    background: linear-gradient(to right, #ffffff, #fffc00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
    position: sticky;
    -webkit-box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
    box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
}

.header .logo{
    cursor: pointer;
}

.header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #00A082;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.header .btn button:hover{
    background-color: #00846B;
    transform: scale(1.1);
}

.main {
    height: 246px;
}

.img_main {
    width: 100%;
    height: 100%;
}

.img_logo {
    width: 150px;
    position: absolute;
    margin: 20px 10%;
}

.sevilla {
    color: #3F3F3F;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.super1 {
    font-size: small;
    text-decoration: underline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.super2 {
    font-size: small;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flecha {
    color: #3F3F3F;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.cniruvf {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: -140px;
    margin-left: 5%;
}

.cabeza {
    display: grid;
    grid-template-columns: 75% 320px;
    grid-template-rows: 220px 220px;
    grid-gap: 20px;
    margin-top: -100px;
    margin-right: 100px;
    margin-left: 5%;
}

.tarjeta_blanca {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 40px;
    -webkit-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    -moz-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.tarjeta_blanca h1 {
    font-size: 46px;
    font-weight: 700;

}

.tu_glovo {
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    grid-column: 2;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    -moz-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.barra_hor {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.barra_hor del {
    font-size: medium;
    font-weight: 300;
    margin-left: 10px;
}

.gratis_text {
    background-color: #FFC244;
    border-radius: 4px;
    padding: 3px;
    margin-left: 10px;
    font-size: small;
    font-weight: 500;
}

.prime {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.prime_text {
    font-size: medium;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.muy_bueno {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}

.muy_bueno img {
    width: 30px;
}

.porciento {
    font-size: medium;
    font-weight: 300;
    margin-top: 7px;
    margin-left: 5px;
}

.muy_bueno_text {
    background-color: #6AD5CB;
    border-radius: 4px;
    padding: 4px;
    margin-left: 10px;
    font-size: small;
    font-weight: 500;
    color:white;
    margin-top: 4px;
    text-align: center;
    justify-content: center;
}

.texto {
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 300;
    margin-top: 30px;
}

.tu_glovo h1 {
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.tu_glovo img {
    text-align: center;
    width: 250px;
    margin-top: 30px;
    margin-left: 12%;
}

.texto_tuglovo {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #616161;
    margin-top: 30px;
    line-height: 1.4;
}

.mas_vendido {
    flex: 0 0 194px;
    width: 220px;
    overflow-y: scroll;
    box-sizing: border-box;
    max-height: calc(70vh - 104px);
    position: sticky;
    margin-right: 0px;
}

.mas_vendido::-webkit-scrollbar {display: none;}


.linea1 {
    display: flex;
    margin-top: -200px;
    margin-left: 7%;
}

.secc {
    display: flex;
    align-items: center;
}

.secc_text {
    color: #17A98D;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    margin-top: 2px;
}

.buscar {
    justify-content: end;
    text-align: center;
    align-items: center;
    width: 52%;
    margin-left: 80px;
}

.buscar input {
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: #dddcdc;
    padding: 10px;
}

.cerca {
    border-bottom: 1px solid #e4e4e4;
    width: 200px;
    margin: 20px 40px;
    text-align: start;
    padding-bottom: 20px;
}

.a_ordenar {
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.a_ordenar h2 {
    margin: 0;
    color: #3F3F3F;
    font-size: 16px;
    line-height: 1.29;
    font-weight: 400;
    display: inline;
}

.linea2 {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 18%;
    margin-top: -380px;
    width: 52%;
}

.linea2 img {
    width: 30px;
}

.mas_vendido_text {
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
}

.flecha_der {
    border-radius: 50%;
    border: 10px solid #F0F0F0;
    text-align: right;
    justify-content: end;
    margin-left: 59%;
    width: 70px;
    cursor: pointer;
    transition: all 0.5s;
}

.flecha_der:hover {
    transform: scale(1.2);
    background-color: #c0c0c0;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    margin: 0px 28% 0px 17%;
    margin-top: -280px;
}

.foto_comida {
    width: 160px;
    cursor: pointer;
}

.producto1 {
    grid-column: 1;
    grid-row: 1;
}
.producto2 {
    grid-column: 2;
    grid-row: 1;
}
.producto3 {
    grid-column: 3;
    grid-row: 1;
}
.producto4 {
    grid-column: 4;
    grid-row: 1;
}

.titulo {
    font-size: 20px;
    font-weight: 530;
    text-align: left;
    align-items: center;
}

.precio {
    margin-top: 10px;
    font-size: medium;
    font-weight: 300;
}

.mas {
    margin-bottom: 0px;
    margin-left: -50px;
    cursor: pointer;
    transition: all 0.3s;
}

.mas:hover {
    transform: scale(1.2);
}


@media (max-width:1130px) {
    .cabeza {
        display: flex;
        flex-direction: column;
    }

    .tu_glovo {
        display: none;
    }

    .tarjeta_blanca {
        background-color: white;
        border-radius: 10px;
        width: 150%;
        height: 100%;
        padding: 40px;
        -webkit-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
        -moz-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
        box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
    }

    .main2 {
        margin-top: 270px;
    }

    .linea1 {
        margin-bottom: 550px;
        width: 100%;
    }

    .linea1 input {
        width: 100%;
    }

    .linea2 {
        display: flex;
        width: 100%;
    }

    .producto1 {
        margin-right: 20px;
    }
    .producto2 {
        margin-right: 20px;
    }
    .producto3 {
        margin-right: 20px;
    }
    
    .flecha_der {
        margin-left:0%;
    }

    .mas_vendido_text {
        width: 600px;
    }

    .tarjeta_blanca {
        width: 100%;
    }

    .mas_vendido {
        display: none;
    }
}