*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}


body{
    background-color: white;
    font-family: sans-serif;
}

body::-webkit-scrollbar {display: none;}

.header{
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
    background: linear-gradient(to right, #ffffff, #fffc00);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
    position: sticky;
    -webkit-box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
    box-shadow: 0px 10px 10px -4px rgba(0,0,0,0.74);
}

.header .logo{
    cursor: pointer;
}

.header .btn button{
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #00A082;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.header .btn button:hover{
    background-color: #00846B;
    transform: scale(1.1);
}

.main {
    height: 246px;
}

.img_main {
    width: 100%;
    height: 100%;
}

.img_logo {
    width: 150px;
    position: absolute;
    margin: 20px 155px;
}

.sevilla {
    color: #3F3F3F;
    text-decoration: underline;
    cursor: pointer;
    font-size: small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.super1 {
    font-size: small;
    text-decoration: underline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.super2 {
    font-size: small;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flecha {
    color: #3F3F3F;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.cniruvf {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: -140px;
    margin-left: 155px;
}

.cabeza {
    display: grid;
    grid-template-columns: 75% 320px;
    grid-template-rows: 220px 220px;
    margin: 0 8%;
    grid-gap: 20px;
    margin-top: -100px;
}

.tarjeta_blanca {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 40px;
    -webkit-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    -moz-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    grid-row: 1;
    grid-column: 1;
}

.tarjeta_blanca h1 {
    font-size: 46px;
    font-weight: 700;

}

.tu_glovo {
    grid-row-start: 1 ;
    grid-row-end: 3 ;
    grid-column: 2;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    -moz-box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
    box-shadow: -1px 16px 27px 12px rgba(181,181,181,1);
}

.barra_hor {
    display: flex;
    align-items: center;
}